section#about {
    .about-font {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        color: rgb(0, 188, 212);
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
    }

    .about-content {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        margin-top:-20px;
        text-align: center;
        line-height: 36px;
        color: #666666;
        font-size: 18px;

    }
}
