section#about {
  padding-bottom: 60px; }
  section#about .about-font {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #03A9F4;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin: 0;
    padding: 60px;
    font-weight: 500; }
    section#about .about-font span {
      color: #F44336; }
  section#about .about-content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-top: -20px;
    text-align: center;
    line-height: 36px;
    color: #666666;
    font-size: 18px; }

