section#contact {
    width: 100%;
    background: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 500;
        margin: 0;
        padding-top: 36px;
    }

    h2 {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        padding-top: 0;
        color: white;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        button {
             background: transparent;
                    color: white;
                    border: 2px solid white;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 12px 28px;
                    margin: 200px;
                    letter-spacing: 1.25px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: 'Roboto', sans-serif;
                    transition: all .2s ease-in-out;
                    border-radius: 10em;
                    &:hover {
                        @extend .card-shadow-1 !optional;
                        background: white;
                        border-color: white;
                        color: #f44336;
                        }
        }

        .input-wrapper {
            width: 40%;
            flex-direction: column;
            display: flex;
            align-items: center;
            padding-top: 20px;
            justify-content: flex-end;

            label {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                color: white;
                font-weight: 300;
                display: flex;
                float: left;
            }


            input {
                background-color: #da483d;
                height: 3.75rem;
                width: 100%;
                padding: 0px 1.25rem;
                display: block;
                outline: 0;
                border: 0;
                border-radius: 0;
                line-height: normal;

                &[name=description] {
                    height: 400px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
