nav {
    display: flex;
    justify-content: center;
    
   
    ul {
        width: 800px;
       

        li {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            a {
                text-decoration: none;
                color: #000;
                display: inline-block;
                height: 70px;
                line-height: 70px;
                font-family: 'Oswald', sans-        serif;
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding: 0 18px;
                float: right;
                color: #333;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color:              #FF5722;
                }
                
            }
        }
    }
}