section#solutions {
  min-height: 300px;
  width: 100%;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  background: #00BCD4;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  section#solutions h2 {
    margin: 0;
    padding-top: 36px;
    padding-bottom: 36px;
    color: white;
    font-size: 48px; }
  section#solutions .card-wrapper {
    width: 100%;
    height: auto;
    display: flex; }
    section#solutions .card-wrapper .card {
      margin-left: 12px;
      margin-right: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 25%;
      background: #FAFAFA;
      padding-bottom: 12px;
      transition: all .2s ease-in-out; }
      section#solutions .card-wrapper .card:hover {
        transform: translateY(-20px); }
        section#solutions .card-wrapper .card:hover .card-img-bg {
          transform: scale(1.1); }
      section#solutions .card-wrapper .card:nth-child(2) {
        margin-right: 0;
        margin-left: 0; }
      section#solutions .card-wrapper .card:nth-child(4) {
        margin-left: 0; }
      section#solutions .card-wrapper .card .card-img-bg {
        width: 176px;
        height: 176px;
        border-radius: 10em;
        background: #F0F0F0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        transition: all .2s ease-in-out; }
        section#solutions .card-wrapper .card .card-img-bg img {
          padding-top: 8px;
          height: 120px; }
        section#solutions .card-wrapper .card .card-img-bg:nth-child(2) img {
          height: 106px; }
      section#solutions .card-wrapper .card h4 {
        font-size: 22px;
        color: #333;
        margin: 12px; }
      section#solutions .card-wrapper .card p {
        margin: 0;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
        margin-top: 4px;
        margin-bottom: 4px; }

