@import 'https://fonts.googleapis.com/css?family=Oswald:300,400';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
body, html {
  margin: 0; }

.text-center {
  text-align: center; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.roboto, section#home .jumbotron-img .jumbotron .title-text h2, section#home .jumbotron-img .jumbotron .title-text h4 {
  font-family: 'Roboto', sans-serif; }

.card-shadow-1, section#home .jumbotron-img .jumbotron .button-wrapper a:hover, section#home .home-content {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; }

.card-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px; }

.card-shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px; }

.card-shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px; }

.card-shadow-5 {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px; }

.jumbotron-img {
  background: url(https://static.pexels.com/photos/164/man-person-apple-iphone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%; }

.jumbotron {
  background: linear-gradient(to right, rgba(229, 57, 53, 0.65), rgba(63, 81, 181, 0.65), rgba(0, 188, 212, 0.65));
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fafafa; }
  section#home .jumbotron-img .jumbotron {
    /*background: rgba(0,0,0, .6);*/ }
    section#home .jumbotron-img .jumbotron .title-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      section#home .jumbotron-img .jumbotron .title-text h2 {
        color: white;
        margin: 12px;
        font-size: 48px;
        font-weight: 500; }
        section#home .jumbotron-img .jumbotron .title-text h2 span {
          color: #F44336; }
      section#home .jumbotron-img .jumbotron .title-text h4 {
        color: white;
        margin: 12px;
        line-height: 24px;
        font-weight: 300; }
    section#home .jumbotron-img .jumbotron .button-wrapper {
      display: flex; }
      section#home .jumbotron-img .jumbotron .button-wrapper a {
        background: transparent;
        color: white;
        border: 2px solid white;
        text-decoration: none;
        font-weight: bold;
        padding: 12px 28px;
        margin: 12px;
        letter-spacing: 1.25px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        transition: all .2s ease-in-out;
        border-radius: 10em; }
        section#home .jumbotron-img .jumbotron .button-wrapper a:hover {
          background: #F44336;
          border-color: #F44336; }
  section#home .home-content {
    width: 900px;
    height: 1200px;
    background: white;
    transform: translateY(-60px); }

.nav-item-link, nav .nav-left a, nav .nav-right .nav-item a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px; }

nav {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  position: absolute;
  top: 0;
  width: 100%; }
  nav .nav-left {
    padding-left: 10%; }
    nav .nav-left a {
      font-size: 24px; }
  nav .nav-right {
    display: flex;
    justify-content: space-around;
    padding-right: 10%; }
    nav .nav-right .nav-item {
      height: 22px;
      transition: all .2s ease-in-out;
      padding-left: 16px;
      padding-right: 16px; }
      nav .nav-right .nav-item:hover {
        transform: scale(1.05) translateY(-4px); }
      nav .nav-right .nav-item a {
        height: 100%;
        text-transform: uppercase;
        font-weight: bold; }

/* Underline From Left */
.hvr-underline-from-left, nav .nav-left a, nav .nav-right .nav-item a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-left:before, nav .nav-left a:before, nav .nav-right .nav-item a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  display: flex; }

.hvr-underline-from-left:hover:before, nav .nav-left a:hover:before, nav .nav-right .nav-item a:hover:before, .hvr-underline-from-left:focus:before, nav .nav-left a:focus:before, nav .nav-right .nav-item a:focus:before, .hvr-underline-from-left:active:before, nav .nav-left a:active:before, nav .nav-right .nav-item a:active:before {
  right: 0; }

section#about .about-font {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: #00bcd4;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px; }

section#about .about-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-top: -20px;
  text-align: center;
  line-height: 36px;
  color: #666666;
  font-size: 18px; }

