@{
    ViewBag.Title = "Home";
}
<script type="text/javascript">
    $(function () {
        $(".element").typed({
            strings: [
                "web<span class='period'>.</span>",
                "apps<span class='period'>.</span>",
                "solutions<span class='period'>.</span>",
                "design<span class='period'>.</span>"
            ],
            typeSpeed: 70,
            backSpeed: 70,
            startDelay: 500,
            loop: true,
            cursorChar: "|",
            backDelay: 850,
            contentType: "html"
        });
    });
</script>

<section id="home">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="title-text">
                <h2>effortless<span class='period'>.</span> <span class="element"></span></h2>
                <h4>
                    We are a specialist brand strategy and design agency <br />
                    dedicated to making a real difference to our clients.
                </h4>
            </div>
            <div class="button-wrapper">
                <a href="@Url.Action("Index", "Work")">Our Work</a>
                <a href="@Url.Action("Index", "Solutions")">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="home-content">
        <section id="about">
            <h1 class="about-font">about us<span>.</span></h1>
            <h3 class="about-content">With clients all over the world and expertise in everything digital and marketing,<br /> we are ambitious, growing fast and committed to providing the best digital <br /> services. We have an impeccable track record for helping our customers gain<br /> popularity in the online world and beyond.</h3>
        </section>

        <section id="solutions">
            <h2>our solutions<span>.</span></h2>
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-img-bg">
                        <img src="http://image.flaticon.com/icons/svg/171/171211.svg" class="img-responsive" />
                    </div>
                    <h4>Web Design</h4>
                    <p>From inception to launch, we'll work with you every step of the way to make sure your business' digital strategy is a success.</p>
                </div>
                <div class="card">
                    <div class="card-img-bg">
                        <img src="http://image.flaticon.com/icons/svg/171/171197.svg" class="img-responsive" />
                    </div>
                    <h4>App Development</h4>
                    <p>More users are on the go than ever before. We make sure that your business delivers on the devices your customers use every day.</p>
                </div>
                <div class="card">
                    <div class="card-img-bg">
                        <img src="http://image.flaticon.com/icons/svg/171/171210.svg" class="img-responsive" />
                    </div>
                    <h4>Web Apps</h4>
                    <p>Discover how our talented team use the latest technology and techniques to make the web work for your business and your clients.</p>
                </div>
                <div class="card">
                    <div class="card-img-bg">
                        <img src="http://image.flaticon.com/icons/svg/171/171227.svg" class="img-responsive" />
                    </div>
                    <h4>Graphic Design</h4>
                    <p>Our SEO and online marketing campaigns will make sure your brand gets the attention it deserves and rankings that bring in business.</p>
                </div>
            </div>
        </section>

        <section id="work"></section>

        <section id="contact">
            <h1>send a message.</h1>
            <h2>fill out our form and we'll be in touch shortly</h2>
            <form>
                <div class="input-wrapper">
                    <label>name</label>
                    <input type="text" name="name" />
                </div>
                <div class="input-wrapper">
                    <label>email</label>
                    <input type="text" name="email" />
                </div>
                <div class="input-wrapper des">
                    <label>description</label>
                    <input type="text" name="description" />
                </div>

                <button class="send-message">send message</button>
            </form>

        </section>

    </div>
</section>
