@{
    ViewBag.Title = "Home";
}

<section class="parallax-one">
    <div class="parallax-overlay">

        <div>
        </div>
        <h1 class="font title">
            effortless<span>.</span> web<span>.</span> apps<span>.</span> solutions<span>.</span> design<span>.</span>
        </h1>
        <h3 class="sub-title">
            We are specialist brand strategy and design agency<br /> dedicated to making a real difference to our clients.
        </h3>
        <div class="button-wrapper">
            <a href="@Url.Action("Index", "Work")">
                Our Work
            </a>
            <a href="@Url.Action("Index", "Solutions")">Your Solution</a>
        </div>
    </div>

</section>