@{
    ViewBag.Title = "Home";
}
<section id="home">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="title-text">
                <h2>effortless<span>.</span> web<span>.</span> apps<span>.</span> solutions<span>.</span> design<span>.</span></h2>
                <h4>
                    We are a specialist brand strategy and design agency <br />
                    dedicated to making a real difference to our clients.
                </h4>
            </div>
            <div class="button-wrapper">
                <a href="@Url.Action("Index", "Work")">Our Work</a>
                <a href="@Url.Action("Index", "Solutions")">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="home-content">

        <section id="about">
            <h1 class="about-font">about us.</h1>
            <h3 class="about-content">With clients all over the world and expertise in everything digital and marketing,<br /> we are ambitious, growing fast and committed to providing the best digital <br /> services. We have an impeccable track record for helping our customers gain<br /> popularity in the online world and beyond.</h3>
           

        </section>

        <section id="work"></section>

        <section id="solutions"></section>

        <section id="contact"></section>

    </div>
</section>
