@{
    ViewBag.Title = "Home";
}
<section id="home">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="title-text">
                <h2>effortless<span>.</span> web<span>.</span> apps<span>.</span> solutions<span>.</span> design<span>.</span></h2>
                <h4>
                    We are a specialist brand strategy and design agency <br />
                    dedicated to making a real difference to our clients.
                </h4>
            </div>
            <div class="button-wrapper">
                <a href="@Url.Action("Index", "Work")">Our Work</a>
                <a href="@Url.Action("Index", "Solutions")">Your Solution</a>
            </div>
        </div>
    </div>
    <div class="home-content">

    </div>
</section>
